.pageroot {
  background: #efefef;
}

.App {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;  
}

#done {
  text-decoration: line-through;
}

#complete {
  display: none;
}

.main {
  padding: 1em 4em 3em 3em;  
  background-color: #61dafb;
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navDiv ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  align-items: stretch;
  color: white;
  padding-left: 0;
  margin-bottom: 0;
}

.navDiv a {
  background: #85c4ca;
  display: flex;  
  justify-content: center;
  color: white;
  padding-top: .75em; 
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3em;
  font-size: 1.25em;
  text-decoration: none;
}

.about {
  background-color: #f3f7fc;
  color: rgb(70, 70, 70);  
  margin-bottom: 0em; 
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
  padding: 2em 1.75em 1.25em 1.75em;
 }

 .about h1 {
  padding-bottom: .5em;
 }

.navDiv a:hover,
.navDiv .active {
  background: #77558d;
  color: white;
}

.quote { 
  padding-top: 1.5em;
}

label {
  margin-bottom: 1.5em;
}

.they-said-so {
  color: rgb(161, 161, 161);
  font-size: .4em;
}

.btn {
  max-height: 35px;
}

.xbtn {
  border: none;
  background: none;
}

.btn-view {
  margin-left: 15px;
}

.form-group h4 {
  padding-bottom: 1.25em;
}

.footerDiv {
  background-color: #61dafb;
  text-align: center;
  padding: 20px;  
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.versebkg {
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
}

.versebkg p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em; 
}

.weather-bkg {
  
  background-repeat: no-repeat;  
  background-position: center; 
  background-size: 100% auto;
  color: white;   
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
 }

 .bkgApp {  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 .gratitude-form {
  background-color: #73d1c0;
  color: white;  
  margin-bottom: 0em; 
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
 }

 .your-thoughts {
   padding-top: 1.5em;
 }

 .your-thoughts h5 {
  padding-bottom: 1.5em;  
}

.your-thoughts h3 {
  padding-bottom: 1.5em; 
}

 .ul-Thoughts {
   padding: 0;
 }

 .thoughts-list {
  padding: .75em;
  list-style-type: none;
  text-align: left;
  background-color: aliceblue;
  color: #777777;
  margin-bottom: 1em;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thoughts-list p {
  margin-right: .5em;
}

 .priorities-form {
  background-color: #f3f7fc;
  color: rgb(70, 70, 70);  
  margin-bottom: 0em; 
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
 }

 .priorities-list {
  padding: .75em;
  list-style-type: none;
  text-align: left;
  background-color: #8f4f8f;
  color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 15px; 
  display: flex;
  justify-content: space-between;
 }

 .form-area {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
 }

 .btn-secondary {
   margin-top: 1em;
 }

 .realFeel {
   padding-bottom: 1em;
   margin-bottom: 0;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
