.App {
  text-align: center;
}

.main {
  padding: 1em 4em 3em 3em;  
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.quote { 
  padding-top: 1.5em;
}

label {
  margin-bottom: 1.5em;
}

.they-said-so {
  color: rgb(161, 161, 161);
  font-size: .4em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.versebkg p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.weather-bkg {
  background-image: linear-gradient(to bottom right, rgb(124, 60, 152), rgb(39, 27, 107));
  /* background-image: url("./img/sunshine_bkg.jpg"); */
  background-repeat: no-repeat;  
  background-position: center; 
  background-size: 100% auto;
  color: white;   
 }

 .gratitude-form {
  background-color: #73d1c0;
  color: white;  
  margin-bottom: 0em; 
 }

 .your-thoughts {
   padding-top: 1.5em;
 }

 .your-thoughts h5 {
  padding-bottom: 1.5em;
}

 .ul-Thoughts {
   padding: 0;
 }

 .thoughts-list {
  padding: .75em;
  list-style-type: none;
  text-align: left;
  background-color: aliceblue;
  color: #777777;
  margin-bottom: 1em;
  border-radius: 15px;
 }

 .priorities-form {
  background-color: #f3f7fc;
  color: rgb(70, 70, 70);  
  margin-bottom: 0em; 
 }

 .form-area {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
 }

 .btn-secondary {
   margin-top: 1em;
 }

 .realFeel {
   padding-bottom: 1em;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
